body {
	margin: 0;
	padding: 0;
}

/*NAVIGATION BAR*/
.nav__bar {
	height: 80px;
}

/*FINAL BUDGET CALCULATION-INFORMATION*/
.budget__container {
	height: 240px;
	background: url('images/piggy-bank.jpg') no-repeat fixed center;
}

.budgets__month--title {
	text-align: center;
	padding-top: 35px;
	font-size: 20px;
}

.monthly__gain {
	text-align: center;
	font-size: 30px;
}

.expences__income--container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.budget__income {
	width: 40%;
	border-radius: 25px;
	padding: 10px;
}

.budget__expenses {
	width: 40%;
	border-radius: 25px;
	padding: 10px;
}

.budget__expenses,
.budget__income { 
	display: inline-block;  
	margin: 10px;
	align-items: center;
}

.budget__expenses {
	float: right;
}

.budget__income--title,
.budget__income--amount	{
	display: inline-block;  
	align-items: center;
	margin-left: 5%;
	margin-right: 5%;
}

.budget__income--amount {
	float: right;
}

.budget__expenses--title,
.budget__expenses--amount	{
	display: inline-block;  
	align-items: center;
	margin-left: 5%;
	margin-right: 5%;
}

.budget__expenses--amount {
	float: right;
}

/*INPUT*/
.input-group {
	width: 60% !important;
	margin-left: auto;
	margin-right: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.input__container {
	width: 100%;
	background-color: lightsteelblue;
	height: 100px;
}

.input-group button {
	background-color: white;
}

.income__expences--form {
	padding-top: 50px;
}

/*INCOME AND EXPENCES LISTS TITLE*/

.expences__income--list--title--container {
	margin-top: 35px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.budget__income--name {
	width: 40%;
	border-radius: 25px;
	padding: 10px;
}

.budget__expenses-name {
	width: 40%;
	border-radius: 25px;
	padding: 10px;
}

.budget__expenses-name,
.budget__income--name { 
	display: inline-block;  
	margin: 10px;
	align-items: center;
}

.budget__expenses-name {
	float: right;
}

.income__title,
.income--amount	{
	display: inline-block;  
	align-items: center;
	margin-left: 5%;
	margin-right: 5%;
}

.income--amount {
	float: right;
}

.expenses__title,
.expenses__amount	{
	display: inline-block;  
	align-items: center;
	margin-left: 5%;
	margin-right: 5%;
}

.expenses__amount {
	float: right;
}

/*INCOME AND EXPENCES LISTS*/

.income__expences--lists {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
}

.expenses__list,
.income__list{
	display: inline-block;  
	align-items: center;
	padding: 10px;
	margin: 10px;
	background-color: #F0F0F0;
	border-bottom: 1px solid #B0B0B0;
	border-top: 1px solid #B0B0B0;
}

.income__list {
	width: 40%;
}

.expenses__list {
	float: right;
	width: 40%;
}

.income__list--item--name,
.expences__list--item--name {
	display: inline-block;  
	align-items: center;
}



.income__list--amount,
.expences__list--amount {
	float: right;
}

/*FOOTER*/

.footer {
   height: 50px; 
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightsteelblue;
   color: white;
   text-align: center;
}


